<%= render partial: "/users/header" %>
<style> body{background-image: url("https://i.imgur.com/qctHRSp.jpg");
    background-size: 100%; } h1{color: orangered}</style>
<h1>Sign In</h1>
<!-- form is getting submitted to POST /sessions -->
<%= form_for @user, url: "/sessions", method: "post" do |f| %> 
  <br><div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div><br>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div><br>
  <%= f.submit "Sign In", :class => "btn btn-material-indigo"  %>
<% end %>