<%= render partial: "/users/navbar" %>
<style> body{background-image: url("https://wcrates.files.wordpress.com/2014/12/material-design-walpaper-for-lollipop-android.png");
    background-size: cover; }
    h1{color:purple}</style>
    <br><br><br>
<!-- <div class="row">
 --><div class="col-md-4"></div>
<div class= "panel col-md-4">
<h1>Edit Profile</h1><hr>
<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :name, placeholder: "Name", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.text_field :email, placeholder: "Email", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.password_field :password, placeholder: "Password", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.text_field :location, placeholder: "Location",class: "form-control floating-label"  %>
	</div><br>
	<%= f.submit "Edit", :class => "button red btn btn-material-indigo"%>
<% end %>
<br>
</div>
<div class="col-md-4"></div>
</div>