<%= render partial: "header" %>
<h1>Edit</h1>

<%= form_for @user do |f| %>
	<br><div>
		<%= f.text_field :name, placeholder: "Name" %>
	</div><br>
	<div>
		<%= f.text_field :email, placeholder: "Email" %>
	</div><br>
	<div>
		<%= f.password_field :password, placeholder: "Password" %>
	</div><br>
	<div>
		<%= f.text_field :location, placeholder: "Location" %>
	</div><br>
	<%= f.submit "Edit!!!!", :class => "btn btn-material-indigo" %>
<% end %>