<style> body{background-image: url("http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/07/Lowpoly_Landscape.jpg");
    background-size: cover; }
    h1{color:purple}</style>
    <br><br><br><br><br>
<!-- <div class="row">
 --><div class="col-md-4"></div>
<div class= "panel col-md-4">
<h1>Join Vagabond today.</h1><hr>
<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :name, placeholder: "Name", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.text_field :email, placeholder: "Email", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.password_field :password, placeholder: "Password", class: "form-control floating-label"  %>
	</div><br>
	<div>
		<%= f.text_field :location, placeholder: "Location",class: "form-control floating-label"  %>
	</div><br>
	<%= f.submit "Sign Up!!!!", :class => "button red btn btn-material-indigo"%>
<% end %>
<br>
</div>
<div class="col-md-4"></div>
</div>
