
<%= render partial: "header" %>
<%= render partial: "navbar" %>


<div>
  Welcome, <%= @user.name %>. How is life in <%= @user.location %>? You have been on this website since <%= @user.created_at %>!
</div>
<h1>Your Posts here!!!!!</h1>
<% @posts.each do |post| %>
<h4>Title: <%= post.title %> <br></h4>
<p>Content: <%= post.content %></p>
<% end %>