
<%= render partial: "navbar" %>

<style> body{background-image: url("https://i.imgur.com/qctHRSp.jpg");
    background-size: 100%; color: green;} .row{background: rgba(0,0,0,.7);} p{font-weight: bold}
.yourpost {padding: 30px} h3{font-weight: bold} 
.badgediv{ margin-bottom: 30px
}
</style>
<div>
 <h3> Welcome, <%= @user.name %>. How is life in <%= @user.location %>? <br>You have been on this website since <%= @user.created_at.localtime %>! </h3>
</div>
<div id="map" style='width: 500px; height: 250px;'></div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
<div class="col-md-6">
<h1>Your Posts</h1>
<% @posts.each do |post| %>
<div class="yourpost">
<h4><a href = "/posts/<%= post.id %>"><%= post.title %></a></h4> 
<p><%= post.content %></p>
    <% post_city = City.find(post.city_id)%>
  Post about <%=post_city.name%>, with a score of <%= post.get_likes.size - post.get_dislikes.size%>.
</div>
<% end %>

   </div>

<!-- <div class="col-md-6"> -->
<div id = "trophy-case">
<h1> Achievements!</h1>
<!-- <div class="row"> -->
<div class="col-sm-3">
<!-- first city post -->
<% if @user.sf_first == true %>
  <div class = "badgediv icon-preview">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205276/40f4fb54-8cbb-11e5-8768-b929a9394838.png" height="200"><br><i class="mdi-action-favorite"></i><span>You posted once in San Fransisco!</span></div>
    <% else %>
  <div class = "badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post in San Francisco to unlock!
</div>  
<% end %>
<% if @user.gib_first == true %>
  <div class = "badgediv icon-preview"><img src="https://cloud.githubusercontent.com/assets/13576777/11205274/40e81286-8cbb-11e5-9141-4562d77d185a.png" height="200"><br><i class="mdi-content-flag"></i><span>You posted once in Gibraltar!</span></div>
    <% else %>
  <div class = "badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post in Gibraltar to unlock!
</div>
  <% end %>
<% if @user.lon_first == true %>
  <div class = "badgediv icon-preview"><img src="https://cloud.githubusercontent.com/assets/13576777/11205278/41249396-8cbb-11e5-8e84-e3b61eb5938f.png" height="200"><br><i class="mdi-action-redeem"></i><span>You posted once in London!</span></div>
    <% else %>
  <div class = "badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post in London to unlock!
</div>  <% end %>
  </div>
  <div class="col-sm-3">
  <!-- 10th post -->
<% if @user.sf_tenth == true %>
  <div class = "badgediv icon-preview"><img src="https://cloud.githubusercontent.com/assets/13576777/11205273/40e50640-8cbb-11e5-9aab-a9c65cc717c2.png" height="200"><br><i class="mdi-content-gesture"></i><span>You posted 10 times in San Francisco!</span></div>
    <% else %>
    <div class = "badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post 10 times in San Francisco to unlock!
</div>
  <% end %>

<% if @user.gib_tenth == true %>
  <div class = "badgediv icon-preview"><img src="https://cloud.githubusercontent.com/assets/13576777/11205277/4123cd9e-8cbb-11e5-8ed8-15c01569afa7.png" height="200"><br><i class="mdi-device-now-wallpaper"></i><span>You posted 10 times in Gibraltar!</span></div>
  <% else %>  
  <div class = "badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post 10 times in Gibraltar to unlock!
</div>
<% end %>
<% if @user.lon_tenth == true %>
  <div class = "badgediv icon-preview"><img src="https://cloud.githubusercontent.com/assets/13576777/11205275/40efe1a0-8cbb-11e5-826e-0cbeb2a72817.png" height="200"><br><i class="mdi-action-language"></i><span>You posted 10 times in London!</span></div>
<% else %>  
  <div class="badgediv">
    <img src="https://cloud.githubusercontent.com/assets/13576777/11205280/41fa05ee-8cbb-11e5-8fcd-e6f9c84b07ec.png" height="200"><br>
Post 10 times in London to unlock!
</div>
<% end %>
</div>

  <% if @user.sf_first != true && @user.gib_first != true && @user.lon_first != true && @user.sf_tenth != true && @user.gib_tenth != true && @user.lon_tenth != true %>
    <div class = "icon-preview"><i class="mdi-av-new-releases"></i><span>You have no trophies! Get Posting!</span></div>
    <% end %>
	</div>
<!-- </div> -->
<script type="text/javascript">
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(33,-50),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
     styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"on"},{"color":"#297831"}]},{"featureType":"administrative.country","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"administrative.locality","elementType":"labels.text.stroke","stylers":[{"color":"#35833d"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"color":"#f49f9f"}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#1f8429"},{"visibility":"on"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#329d3d"}]},{"featureType":"landscape.natural.landcover","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural.terrain","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"poi","elementType":"labels.text.stroke","stylers":[{"color":"#329d3d"},{"visibility":"on"}]},{"featureType":"poi.attraction","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#57a85f"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"color":"#106319"},{"visibility":"on"}]},{"featureType":"poi.medical","elementType":"geometry","stylers":[{"color":"#fbd3da"},{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#4aab54"}]},{"featureType":"poi.school","elementType":"geometry.fill","stylers":[{"color":"#71c279"}]},{"featureType":"poi.sports_complex","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#49cf57"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#329d3d"},{"visibility":"on"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#89d791"},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#5eb267"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#73bd7a"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#28702f"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#12c2f3"}]}]}


    );

    var london = new google.maps.LatLng(51.51, -0.127);

    var londonmarker = new google.maps.Marker({
        position: london,
        url: '/cities/london',
        title: 'This link opens the London home page',
        map: map
    });

    var gib = new google.maps.LatLng(36.14, -5.35);

    var gibmarker = new google.maps.Marker({
        position: gib,
        url: '/cities/gibraltar',
        title: 'This link opens the Gibraltar home page',
        map: map
    });

	var sf = new google.maps.LatLng(37.77, -122.42);

    var sfmarker = new google.maps.Marker({
        position: sf,
        url: '/cities/san-francisco',
        title: 'This link opens the San Francisco home page',
        map: map
    });


    google.maps.event.addListener(londonmarker, 'click', function() {
      window.location.href = londonmarker.url;
    });

    google.maps.event.addListener(gibmarker, 'click', function() {
      window.location.href = gibmarker.url;
    });

    google.maps.event.addListener(sfmarker, 'click', function() {
      window.location.href = sfmarker.url;
    });

</script>