<%= render partial: "/users/header" %>
<style> body{background-image: url("http://i.imgur.com/ff7KmtV.jpg");
    background-size: 100%; }</style>
<h1>Edit Post</h1>

<%= form_for @post do |f| %>
	<br><div>
		<%= f.text_field :title, placeholder: "Title" %>
	</div><br>
	<div>
		<%= f.text_area :content, placeholder: "Content" %>
	</div><br>
	
	</div><br>
	<%= f.submit "Edit!!!!", :class => "btn btn-material-indigo" %>
<% end %>