<%= render partial: "/users/navbar" %>
<style> body{background-image: url("http://androidspin.com/wp-content/uploads/2014/10/bkg_09_september.jpg");
    background-size: cover; } h1{color: orangered} h4,h5{color:brown; font-weight: bold} p{color:green; font-weight: bold}</style>
<h1>All Posts</h1>
<% @posts.reverse.each do |post| %>
<!-- <div class="col-md-3"></div> -->
<div class="card shadow-z-2">
<h4><%= post.title %></h4><hr>
<p><%= post.content %></p>
  <% post_author = User.find(post.user_id)%>
  <% post_city = City.find(post.city_id)%>
  <hr>
 <h5> Post by <%=post_author.name%>, about <%=post_city.name%>, with a score of <%= post.get_likes.size - post.get_dislikes.size%>.</h5>
</div>
<br>
<% end %>
