<%= render partial: "/users/header" %>
<div>
  Here is your post about <%= @city.name %>
<br>
  Title <%= @post.title %>
<br>
  Content <%= @post.content %>
</div>

<a href="/posts/<%=@post.id%>/edit"><button type="button" class="btn btn-default">Edit</button></a>
<%= button_to "Delete", @post, method: :delete %>
