<style> body{background-image: url("http://i.imgur.com/ff7KmtV.jpg");
    background-size: cover;} h1{color:salmon;}</style>
<br><br>
 <div class="col-md-3"></div>
<div class= "panel col-md-6 shadow-z-2">
<h1><%= @post.title %></h1>
  <% post_author = User.find(@post.user_id)%>
  Written by <%=post_author.name%><hr>
<br>
<%= @post.content %>
  <hr>

<% if @user.id == @post.user_id%>
<a href="/posts/<%=@post.id%>/edit"><button type="button" class="btn btn-material-green">Edit</button></a>
<button class="btn btn-raised btn-material-deep-orange" data-toggle="modal" data-target="#complete-dialog">Delete</button>
<% end %><br><br>
<div id="complete-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are sure you want to delete "<%= @post.title %>" ?</p>
      </div>
      <div class="modal-footer">
      <%= button_to "Delete", @post, method: :delete , class: "btn btn-raised btn-material-deep-orange"%>
      </div>
    </div>
  </div>
</div>

</div>
<div class="col-md-3"></div>
