<%= render partial: "/users/navbar" %>

<style> body{background-image: url("<%= @city.background_img %>");
    background-size: 100%; } .card{background: rgba(0,0,0,.7); color: green; font-weight: bold} .card-content{color: deeppink;}</style>

<div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card citycard">
            <div class="card-image">
              <span class="card-content"><h1><%= @city.name %></h1></span>
              <img src="<%= @city.image %>">
            </div>
            <% if @logged_in %>
            <div class="card-action">
            <br>
            <button class="btn btn-raised btn-material-amber" data-toggle="modal" data-target="#complete-dialog">Create New Post</button>
            </div>
            <br>
            <%else%><%end%>
          </div>
        </div>
      </div>
<!-- 
<h1><%= @city.name %></h1>
<button class="btn btn-raised btn-material-amber" data-toggle="modal" data-target="#complete-dialog">Create New Post</button> -->
<div id="complete-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Create New Post</h4>
      </div>
      <div class="modal-body">
<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Post Title", class: "form-control floating-label" %>
  </div><br>
  <div>
    <%= f.text_area :content, placeholder: "Your post here", class: "form-control floating-label" %>
  </div>
  <div>
  	<input type = "hidden" name = "city_id" value = "<%=@city.id%>">
  </div>
  <%= f.submit "Submit", class: "btn btn-raised btn-material-amber" %>
<% end %> 
      </div>
    </div>
  </div>
</div>
<br><!-- 
<img src =" <%= @city.image %> ">
<h1>Your Posts here!!!!!</h1> -->
<% @posts.reverse.each do |post| %>

<div class="card postcard shadow-z-1">
<h4><% if @logged_in %><a href = "/posts/<%= post.id %>"><%= post.title %></a><%else%><%= post.title %><%end%></h4> <hr>

<p><%= post.content %></p></div>
<% end %>
